{% extends 'linkScanner/base.html' %}
{% block body %}
<style>
    body {
        background-image: url('/static/linkScanner/a1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        height: 100vh;
        margin:0;
    }

   
   
</style>
<section id="another-section" class="bg-image">
    <div class="content">
        <h2>Why should you trust us?</h2>
        <p>scamsniffer is a your friendly tool helping you to sniff around the rats eating your cheese.
            nah, just joking. but i mean in a way, its the same. with ever grwoing phishing attacks, and ever growing complexities to detect them, we have come with this most 
            user friendly UI to provide anyone and evryone around you a page to trust.</p>
    </div>
</section>


    
{% endblock body %}