{% extends 'linkScanner/base.html' %}
{% block body %}
<style>
    p{
        text-align: justify;
        font-size: 15px;
    }
    body {
        background-image: url('/static/linkScanner/a1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        height: 100vh;
        margin:0;
    }

   
   
</style>
<section id="another-section" >
    <div class="content">
        <h1>Why should you trust us?</h1><br>
        <p>ScamSniffer is a your friendly tool helping you to sniff around the rats eating your cheese. Nah, just joking. But I mean in a way, it's the same. With ever growing phishing attacks and intensive complexities to detect them, we have come with this most user friendly UI to provide anyone and everyone around you a page to trust.</p>
    </div>
</section>


    
{% endblock body %}