<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhishSniffer</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/static/linkScanner/style.css">

</head>

<body>
    <section id="header">
        <a href="#"><img src="/static/linkScanner/mainlogo.png" alt="logo" width="300px" height="150px"></a>

        <div>
            <ul id="navbar">
                <li><a class="{% if request.path == '/' %}active{% endif %}" href="/">Home</a></li>
                <li><a class="{% if request.path == '/learn/' %}active{% endif %}" href="/learn">Learn</a></li>
                <li><a class="{% if request.path == '/about/' %}active{% endif %}" href="/about">About</a></li>
                <li><a class="{% if request.path == '/report/' %}active{% endif %}" href="/report">Report</a></li>
                <li><a class="{% if request.path == '/contact/' %}active{% endif %}" href="/contact">Contact</a></li>
            </ul>
        </div>
    </section>
    {% block body %}

    {% endblock %}


</body>

</html>