{% extends 'linkScanner/base.html' %}

{% block body %}
</section>   
<style>
    body {
        background-image: url('/static/linkScanner/bg1.png');
        background-size: cover; 
        background-position: center; 
        
    }
</style>

<section id="main-content" class="center-content">
    <div class="text-content">
        <h1 class="welcome">Welcome</h1>
        <p>helo use this bla blaaa</p>
            
    </div>
    <div class="link-scan">
        <input type="text" id="link-input" placeholder="Paste link here">
        <button id="scan-button">Scan</button>
    </div>
</section>
{% endblock %}